﻿@{
    ViewBag.Title = "Saudi Energy Efficiency Program (SEEP) Olefins Training Videos";
}

<div class="jumbotron">
    <h2>Saudi Energy Efficiency Program (SEEP) Olefins Training Videos</h2>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <figure class="figure">
            @Html.ActionLink("SA", "Detail", "Home", new { video = "first" }, new { @class = "first-video image-video figure-img img-fluid rounded" })
            <figcaption class="figure-caption text-muted">1. Please View This Video First</figcaption>
        </figure>
    </div>
    <div class="col-md-4">
        <figure class="figure">
            @Html.ActionLink("SA", "Detail", "Home", new { video = "second" }, new { @class = "second-video image-video figure-img img-fluid rounded" })
            <figcaption class="figure-caption text-muted">2. Olefin Study Input Form</figcaption>
        </figure>
    </div>
    <div class="col-md-4">
        <figure class="figure">
            @Html.ActionLink("SA", "Detail", "Home", new { video = "third" }, new { @class = "third-video image-video figure-img img-fluid rounded" })
            <figcaption class="figure-caption text-muted">3. Capacity & Facilities</figcaption>
        </figure>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <figure class="figure">
            @Html.ActionLink("SA", "Detail", "Home", new { video = "fourth" }, new { @class = "fourth-video image-video figure-img img-fluid rounded" })
            <figcaption class="figure-caption text-muted">4. Material Balance Feedstock & Product Quality</figcaption>
        </figure>
    </div>
    <div class="col-md-4">
        <figure class="figure">
            @Html.ActionLink("SA", "Detail", "Home", new { video = "fifth" }, new { @class = "fifth-video image-video figure-img img-fluid rounded" })
            <figcaption class="figure-caption text-muted">5. Energy Consumption</figcaption>
        </figure>
    </div>
    <div class="col-md-4">
        <figure class="figure">
            @Html.ActionLink("SA", "Detail", "Home", new { video = "sixth" }, new { @class = "sixth-video image-video figure-img img-fluid rounded" })
            <figcaption class="figure-caption text-muted">6. Wrap-up Video</figcaption>
        </figure>
    </div>
</div>