﻿@{
    ViewBag.Title = "Petrochemical Benchmarking - Chemical Consultants | Solomon Associates";
}

<div class="jumbotron">
    <h2>Saudi Energy Efficiency Program (SEEP) PDH Training Videos</h2>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <figure class="figure">
            @Html.ActionLink("SA", "Detail", "Home", new { video = "first" }, new { @class = "first-pdh-video image-video figure-img img-fluid rounded" })
            <figcaption class="figure-caption text-muted">1. Please View This Video First</figcaption>
        </figure>
    </div>
    <div class="col-md-6">
        <figure class="figure">
            @Html.ActionLink("SA", "Detail", "Home", new { video = "second" }, new { @class = "second-pdh-video image-video figure-img img-fluid rounded" })
            <figcaption class="figure-caption text-muted">2. Introduction & Methodology</figcaption>
        </figure>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <figure class="figure">
            @Html.ActionLink("SA", "Detail", "Home", new { video = "third" }, new { @class = "third-pdh-video image-video figure-img img-fluid rounded" })
            <figcaption class="figure-caption text-muted">3. Input Data Form</figcaption>
        </figure>
    </div>
    <div class="col-md-6">
        <figure class="figure">
            @Html.ActionLink("SA", "Detail", "Home", new { video = "fourth" }, new { @class = "fourth-pdh-video image-video figure-img img-fluid rounded" })
            <figcaption class="figure-caption text-muted">4. Data Input</figcaption>
        </figure>
    </div>
</div>