﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.image-video {

    /*padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;*/
    display: block;
     width: 280px;
     height: 180px;
     text-indent: -9999px;
}
.first-video {
    background: url('Images/SEEC_Intro_First_Frame.png') no-repeat top center;
        background-size: 280px;
    background-position: center;
}
.second-video {
    background: url('Images/secondVideo.png') no-repeat top center;
        background-size: 280px;
    background-position: center;
}
.third-video {
    background: url('Images/thirdVideo.png') no-repeat top center;
        background-size: 280px;
    background-position: center;
}
.fourth-video {
    background: url('Images/fourthVideo.png') no-repeat top center;
        background-size: 280px;
    background-position: center;
}
.fifth-video {
    background: url('Images/fifthVideo.png') no-repeat top center;
        background-size: 280px;
    background-position: center;
}
.sixth-video {
    background: url('Images/sixthVideo.png') no-repeat top center;
        background-size: 280px;
    background-position: center;
}
.first-pdh-video {
    background: url('Images/PDH/SEEC_Intro_First_Frame.png') no-repeat top center;
        background-size: 280px;
    background-position: center;
}
.second-pdh-video {
    background: url('Images/PDH/second.png') no-repeat top center;
        background-size: 280px;
    background-position: center;
}
.third-pdh-video {
    background: url('Images/PDH/third.png') no-repeat top center;
        background-size: 280px;
    background-position: center;
}
.fourth-pdh-video {
    background: url('Images/PDH/fourth.png') no-repeat top center;
        background-size: 280px;
    background-position: center;
}
/* Bootstrap Overrides */
.navbar-inverse {
    background-color: #fff;
    border-color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #787b7d;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #006dbc;
}

.navbar-inverse .navbar-brand {
    color: #787b7d;
}

.navbar-inverse .notifications {
    position: relative;
}
.navbar-inverse .notifications .badge {
    position: absolute;
    top: 8px;
    right: -1px;
    /*background: #a80a0a;*/
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    /*background-color: rgba(205, 40, 39, 0.55);*/
}

.navbar-brand {
    background: url('Images/Logo Rectangle.jpg') no-repeat top left;
    margin: 5px 10px;
    font-size: 18px;
    background-size: 220px;
    /*line-height: 20px;*/
    display: block;
     width: 220px;
     height: 35px;
     box-sizing: border-box;
     text-indent: -9999px;
}

.dropdown-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar-brand {
    font-weight: 700;    
}